<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../sassy/brands.css">
    <title>Brands</title>
</head>
<body>
    <div class="container">
        <nav class="navBar">
            <div class="sideBar">
                <ul class="mainMenu">
                    <div class="menuIcon">
                        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
                    </div>
                    <li class="sideBtn home"><a class="mainBtn" href="../index.html"><i class="fas fa-paw"></i> home</a></li>
                    <li class="sideBtn brand"><a class="mainBtn">brand</a></li>
                    <li class="sideBtn pet"><a class="mainBtn" href="#">pet</a></li>
                    <li class="sideBtn service"><a class="mainBtn" href="#">service</a></li>
                    <li class="sideBtn contact"><a class="mainBtn" href="#">contact</a></li>
                </ul>
                <div class="selectionNav">
                    <ul class="brandHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="#">top paw</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">great choice</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">Natural</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">Seresto</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">topfin</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./views/brands.html">more...</a></li>
                    </ul>
                    <ul class="petHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">dog</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">cat</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">bird</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">reptile</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">more...</a></li>
                    </ul class="menuChoiceA">
                    <ul class="serviceHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">grooming</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">pets hotel</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">day camp</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">dog training</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">health care</a></li>
                    </ul>
                </div> <!--selectionNav-->
            </div> <!--sideBar-->
            <div class="shoppingCart">
                <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
                <p class="cartItems">0</p>
            </div>
            <div class="logo">
                <p><span class="petColor"><span class="letterL">P</span>et</span><span class="letterL">D</span>ude</p>
            </div>
        </nav> <!--navBar-->
        <div class="brandsIcons">
            <div class="brandsBanner">
                <img src="../img/brandbBanner.jpg" alt="">
            </div>
            <div class="brandsTitle">
                <h2>Shop by brands</h2>
            </div>
            <ul class="cardsContainer">
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-Blue-20160818.jpg" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-GreatChoice-20181217.jpg" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-HillsScienceDiet-20170613.jpg" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-K9Advantix-20170613.jpg" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-OnlyNaturalPet-20160818.png" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-RRNutrish-20171214.jpg" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-TopFin-20170613.jpg" alt="">
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-TopPaw-20170613.jpg" alt="">
                </a></li>
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/AuthorityLogo_BShops_ListofBrandsTile_100918.jpg" alt="">
                </a></li>
                </a></li>
                <li class="card"><a href="#">
                    <img src="../img/brands/BRLOGO-Seresto-20170613.jpg" alt="">
                </a></li>
            </ul>
        </div>
        <section class="content">
            <div class="socIcon">
                <a href="#"><img src="../img/facebook.png" alt=""></a>
                <a href="#"><img src="../img/twitter.png" alt=""></a>
                <a href="#"><img src="../img/instagram.png"></a>
                <a href="#"><img src="../img/youtube.png" alt=""></a>
            </div>
            <form>
                <p>Receive our latest offers</p>
                <input type="text" placeholder="Enter e-mail here">
            </form>
        </section>
    </div>
    
    
    <script type="text/javascript" src="../script/brands.js"></script>
</body>
</html>
