<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../sassy/pets.css">
    <title>Pets</title>
</head>
<body>
    <div class="container">
        <nav class="navBar">
            <div class="sideBar">
                <ul class="mainMenu">
                    <div class="menuIcon">
                        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
                    </div>
                    <li class="sideBtn home"><a class="mainBtn" href="../index.html"><i class="fas fa-paw"></i> home</a></li>
                    <li class="sideBtn brand"><a class="mainBtn" href="#">brand</a></li>
                    <li class="sideBtn pet"><a class="mainBtn">pet</a></li>
                    <li class="sideBtn service"><a class="mainBtn" href="#">service</a></li>
                    <li class="sideBtn contact"><a class="mainBtn" href="#">contact</a></li>
                </ul>
                <div class="selectionNav">
                    <ul class="brandHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">top paw</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">great choice</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">Natural</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">Seresto</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">topfin</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">more...</a></li>
                    </ul>
                    <ul class="petHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">dog</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">cat</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">bird</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">reptile</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">more...</a></li>
                    </ul class="menuChoiceA">
                    <ul class="serviceHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">grooming</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">pets hotel</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">day camp</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">dog training</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./service.html">health care</a></li>
                    </ul>
                </div> <!--selectionNav-->
            </div> <!--sideBar-->
            <div class="shoppingCart">
                <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
                <p class="cartItems">0</p>
            </div>
            <div class="logo">
                <p><span class="petColor"><span class="letterL">P</span>et</span><span class="letterL">D</span>ude</p>
            </div>
        </nav> <!--navBar-->
        <div class="banner">
            <img src="../img/banner.jpg" alt="">
        </div>
        <div class="animalIcons">
            <div class="brandsTitle">
                <h2>Shop by pets</h2>
            </div>
            <ul class="cardsContainer">
                <li class="dogs card"><a href="#">
                    <img src="../img/pet_dog.jpg" alt="">
                    <p>dogs</p>
                </a></li>
                <li class="cats card"><a href="#">
                    <img src="../img/pet_cat.jpg" alt="">
                    <p>cats</p>
                </a></li>
                <li class="birds card"><a href="#">
                    <img src="../img/pet_bird.jpg" alt="">
                    <p>birds</p>
                </a></li>
                <li class="reptiles card"><a href="#">
                    <img src="../img/pet_reptiles.jpg" alt="">
                    <p>reptiles</p>
                </a></li>
                <li class="dino card"><a href="#">
                    <img src="../img/pet_dino.jpg" alt="">
                    <p>dino</p>
                </li>
                </a>
            </ul>
        </div>
        <section class="content">
            <div class="socIcon">
                <a href="#"><img src="../img/facebook.png" alt=""></a>
                <a href="#"><img src="../img/twitter.png" alt=""></a>
                <a href="#"><img src="../img/instagram.png"></a>
                <a href="#"><img src="../img/youtube.png" alt=""></a>
            </div>
            <form>
                <p>Receive our latest offers</p>
                <input type="text" placeholder="Enter e-mail here">
            </form>
        </section>
    </div>
    
    
    <script type="text/javascript" src="../script/pets.js"></script>
</body>
</html>
