<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../sassy/service.css">
    <title>Service</title>
</head>
<body>
    <div class="container">
        <nav class="navBar">
            <div class="sideBar">
                <ul class="mainMenu">
                    <div class="menuIcon">
                        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
                    </div>
                    <li class="sideBtn home"><a class="mainBtn" href="../index.html"><i class="fas fa-paw"></i> home</a></li>
                    <li class="sideBtn brand"><a class="mainBtn" href="#">brand</a></li>
                    <li class="sideBtn pet"><a class="mainBtn" href="#">pet</a></li>
                    <li class="sideBtn service"><a class="mainBtn">service</a></li>
                    <li class="sideBtn contact"><a class="mainBtn" href="#">contact</a></li>
                </ul>
                <div class="selectionNav">
                    <ul class="brandHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">top paw</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">great choice</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">Natural</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">Seresto</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">topfin</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./brands.html">more...</a></li>
                    </ul>
                    <ul class="petHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">dog</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">cat</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">bird</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">reptile</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="./pets.html">more...</a></li>
                    </ul class="menuChoiceA">
                    <ul class="serviceHide brandAll">
                        <li class="menuChoice"><a class="menuChoiceA" href="#">grooming</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">pets hotel</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">day camp</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">dog training</a></li>
                        <li class="menuChoice"><a class="menuChoiceA" href="#">health care</a></li>
                    </ul>
                </div> <!--selectionNav-->
            </div> <!--sideBar-->
            <div class="shoppingCart">
                <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
                <p class="cartItems">0</p>
            </div>
            <div class="logo">
                <p><span class="petColor"><span class="letterL">P</span>et</span><span class="letterL">D</span>ude</p>
            </div>
        </nav> <!--navBar-->
        <div class="serviceContainer">
            <div class="serHeader">
                <ul>
                    <li>
                        <i class="fas fa-shower fa-2x"></i>
                        <a href="#">grooming</a>
                        <img src="../img/service_grooming.jpg" alt="">
                        
                    </li>
                    <li>
                        <i class="fas fa-concierge-bell fa-2x"></i>
                        <a href="#">pets hotels</a>
                        <img src="../img/service_hotel.jpg" alt="">
                    </li>
                    <li>
                        <i class="fas fa-bone fa-2x"></i>
                        <a href="#">day camp</a>
                        <img src="../img/service_camp.jpg" alt="">
                    </li>    
                    <li>
                        <i class="fas fa-book fa-2x"></i>
                        <a href="#">dog training</a>
                        <img src="../img/service_training.jpg" alt="">
                    </li>
                    <li>
                        <i class="fas fa-briefcase-medical fa-2x"></i>
                        <a href="#">health care</a>
                        <img src="../img/service_health.jpg" alt="">
                    </li>
                </ul>
            </div>
            <div class="serContent">
                <ul>
                    <li class="one serList">
                        <img src="https://images.ctfassets.net/2t8dhn7s97w9/eLqBJadmdGCcOqoqGUgEs/aac7ef76a50b3bdb803414288f854913/PetSmart_Pet_Services.jpg" alt="">
                    </li>
                    <li class="two serList">
                        <h2>Monthly Offers</h2>
                        <p>Check out special savings & new offerings in grooming, boarding, day camp & training</p>
                    </li>
                    <li class="three serList">
                        <p>bring your pet in for a springtime refresh or a spring break staycay!</p>
                    </li>
                    <li class="four serList">
                        <img src="https://images.ctfassets.net/2t8dhn7s97w9/4zWiho3sO4QWWO64CEc2YM/018d5e80586addcb6b70d6b3d7c4f5b9/IMG_Desktop_HP_Small_420x300_Training.jpg" alt="">
                    </li>
                    <li class="five serList">
                        <img src="https://images.ctfassets.net/2t8dhn7s97w9/21PlgdO6cIqkWa4II0aqie/3b19abed0a85d40234587b9c4aee8509/Meet_Pets_We_Groomed_with_Love.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <section class="content">
            <div class="socIcon">
                <a href="#"><img src="../img/facebook.png" alt=""></a>
                <a href="#"><img src="../img/twitter.png" alt=""></a>
                <a href="#"><img src="../img/instagram.png"></a>
                <a href="#"><img src="../img/youtube.png" alt=""></a>
            </div>
            <form>
                <p>Receive our latest offers</p>
                <input type="text" placeholder="Enter e-mail here">
            </form>
        </section>
    </div>
    
    
    <script type="text/javascript" src="../script/service.js"></script>
</body>
</html>
